# Byte-compiled / cached files

*/__pycache__/*
*.py[cod]
*.swp
*.swo

# Virtual environment
venv/
env/

# Django database & migration files
db.sqlite3
db.sqlite3-journal
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.sqlite3-journal

# Django migrations (optional, if you don't want to track migrations)
*/migrations/*

# Ignore database-related files
.dbdata/
*.binlog*

# Media / static files
media/
staticfiles/
static/

# IDE & OS-specific files
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore compiled Python files

__pycache__/

